flask
flask-socketio
google-generativeai
chromadb
tiktoken
pydantic
sentence-transformers
ipython
pandas
patch
debugpy
jupyter
google-cloud-aiplatform
black
ruff
pytest
pytest-mock
pytest-json-report
python-socketio[client]